main {
    position: relative;
}
.activeModule{
    display: flex !important; 
}
.boxHeader_wallet {
    display: flex;
    padding: .5rem;
    width: 100%;
    height: auto;
    gap: 0 1rem;
}

/* left_boxHeader-wallet */
.left_boxHeader-wallet{
    width: auto;
}

.heade_left-wallet{
    display: flex;
    gap: 0 1rem;
    width: 100%;
    justify-content: center;
    margin-bottom: .5rem;
}
/* box_sale-portalHeader */
.box_sale-portalHeader{
    width: 11rem;
    height: 230px;
    padding: .7rem;
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
    background-color: var(--color_white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boxIcon {
    background: linear-gradient(180deg, #E93B77 0%, #DA1F63 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius:.7rem;
    -webkit-border-radius:.7rem;
    -moz-border-radius:.7rem;
    -ms-border-radius:.7rem;
    -o-border-radius:.7rem;
    margin-bottom: 1rem;
}
.box_sale-portalHeader span {
    font-weight: 800;
    font-size: 1.1em;
    color: var(--color_gray);
}
.box_sale-portalHeader p {
    font-weight: 600;
    color: var(--color_gray);
    font-size: small;
    padding: .5rem 0 2rem 0;
    border-bottom: 1px solid rgba(240, 242, 245, 1);
}
.box_sale-portalHeader h6 {
    font-size: 1.2em;
    padding-top: .3rem;
}
/* box_PaymentMethod-header */
.box_PaymentMethod-header{
    max-width: 50rem;
    background-color: var(--color_white);
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
    padding: .7rem;
}

.head_box-pyment,
.cards-Box
{
display: flex;
width: 100%;
}
.head_box-pyment{
    justify-content: space-between;
    align-items: center;
    padding-bottom: .3rem;
}
.head_box-pyment h5 {
    color: var(--color_gray);
    font-weight: 600;
    font-size: 1.1rem;
}
.box_addNewcard{
    background: linear-gradient(180deg, #3E3D45 0%, #202020 100%);
    color: var(--color_white);
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3rem;
    border-radius:.3rem;
    -webkit-border-radius:.3rem;
    -moz-border-radius:.3rem;
    -ms-border-radius:.3rem;
    -o-border-radius:.3rem;
    letter-spacing: 0px;cursor: pointer;
}
.cards-Box {
    flex-wrap: wrap;
    gap: .5rem;
    padding-top: 1rem;
}
.card{
     width: calc(50% - .5rem);
     border: 1px solid rgba(123, 128, 154, 1);
     border-radius:.5rem;
     -webkit-border-radius:.5rem;
     -moz-border-radius:.5rem;
     -ms-border-radius:.5rem;
     -o-border-radius:.5rem;
     padding:.5rem 1rem;
     display: flex;
     align-items: center;justify-content: space-between;
}
.card p {
    color: var(--color_gray);
    font-weight: 600;
}
.card > .editCard {
    cursor: pointer;
}
/* -----------------  */
.right_boxHeader-wallet{
    width: 25rem;
    height: 410px;
}
.box_table-Invoices{
    background-color: var(--color_white);
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
    padding: 1rem;
   width: 100%;
    height: 100%;
    overflow-y: auto;
}
.heade-Invoices{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.heade-Invoices h4 {
font-weight: 700;
font-size: 1.1em;
}
.heade-Invoices span {
    color: #DA1F63;
    font-weight: 600;
    font-size: small;
    border: 1px solid #DA1F63;
    padding: .5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    cursor: pointer;
}

.row-Invoices {
   display: flex;
   align-items: center; 
   justify-content: space-between;
   width: 100%;
   margin-bottom: 1rem;
}
.right-row_Invoices span {
 font-weight: 600;
}
.right-row_Invoices p {
    font-size: small;
    color: var(--color_gray);
    margin-top: .2rem;
}
.left-row_Invoices {
    display: flex;
    gap: 0 .5rem;
    font-weight: 700;
    align-items: center;
}
.left-row_Invoices:last-child {
    cursor: pointer;
}

/* ------------------------------------- */
.boxFooter_wallet{
    width: 100%;
    display: flex;
    padding: .5rem;
    gap: 0 1rem;
}
.left_footer-wallet,
.right_footer-wallet{
    width: 50%;
    background-color: var(--color_white);
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
    padding: 1rem;

}
.title_box-wallet__footer{
padding: .5rem;font-size: 1.2em;
display: inline-flex;font-weight: 700;
margin-bottom: .5rem;
}
.row_footer-box__wallet{
    background-color: var(--color_light_gray);
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
    padding: .5rem;
    margin-top: .5rem;
}
.header_row-box__footerWallet{
 display: flex;margin:.7rem 0;
 width: 100%;
 align-items: center;justify-content: space-between;
}
.header_row-box__footerWallet > * {
    cursor: pointer;
}
.row_footer-box__wallet p{
font-weight: 600;
margin-top: .3rem;
color: var(--color_text);
}
.row_footer-box__wallet p span {
    font-weight: 800;
    color: var(--color_gray);
    padding-left:.3rem;
}
/* -------- */

.header_boxfooter-wallet{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header_boxfooter-wallet span {
    font-weight: 600;
}
.header_boxfooter-wallet .span_right-headerFooter-box{ 
    display: flex;
    align-items: center;
    gap: 0 .5rem;
}
.heade-span-newest {
    font-weight: 900;
    padding: 1rem 0;
    color: var(--color_text);
    font-size: small;
    display: inline-flex;
}

.row_footer-wallet{
    display: flex;justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.right_value-footerWallet{
    display: flex;
    align-items: center;gap: 0 .5rem;
}
.box-valueFooterRight{
 font-weight: 600;
}
.box-valueFooterRight p {
    font-size: small;
    color: var(--color_text);
    margin-top: .2rem;
}
.left_value-footerWallet span {
    color:rgba(244, 67, 52, 1);
    font-weight: bold;
}
.active_color-forGreen  .left_value-footerWallet span{
 color: green ;
}

.boxFormCard {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    display: none;
}
.FormNewCards{
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;justify-content: center;
    flex-direction: column;
    gap: .3rem 0;
    z-index: 100;
    background-color: #ffff;
    padding: 1rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.titleFormCreat{
    display: flex;gap: 1rem 0;
    align-items: center;flex-direction: column;
    justify-content: space-between;margin-bottom: 1rem;
}
.titleFormCreat svg {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--color_gray);
    cursor: pointer;
    border: 1px solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.FormNewCards h2 {
    font-weight: 600;
    letter-spacing: .0.2rem;
    color: var(--color_gray);
}

.FormNewCards input {
    width: 15rem;
    padding: .7rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    border: none;outline: none;background-color: #dfdfdf;
    margin-bottom: .3rem;
}
.FormNewCards input::placeholder {
    color: #000;
    font-weight: 500;
}
.FormNewCards button {
    padding: .5rem 3rem;
    border: none;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;cursor: pointer;
    background-color: #dfdfdf;
}
.blurMain{
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7));
};

