* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Ralwey_light";
  overflow-x: hidden;
}
@font-face {
  font-family: "Ralwey";
  src: url('../fonts/Raleway-Black.ttf');
  font-style: normal;
}
@font-face {
  font-family: "Ralwey_bold";
  src: url('../fonts/Raleway-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Ralwey_light";
  src: url('../fonts/Raleway-ExtraLight.ttf');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Ralwey_senubold";
  src: url('../fonts/Raleway-SemiBold.ttf ');
  font-style: normal;
  font-weight: 300;
}
/* color light */
:root {
  --color_white: rgb(255, 255, 255);
  --color_black: rgb(26, 32, 41);
  --color_gray: rgba(20, 22, 29,1);
  --color_light_gray: rgb(248, 248, 248);
  --color_dark_gray: rgb(49, 53, 63);
  --color_light_purple: rgb(140, 119, 237);
  --color_blue: #3a6ff8;
  --color_green: rgb(30, 203, 79);
  --color_light_red: rgb(244, 109, 34);
  --color_text: rgba(173, 173, 173, 1);
  --color_chat :  rgba(239, 244, 251, 1);
}
/* color dark */
/* date-thme="dark" */
/* مثل شرط هست  */
@media (max-width:600px) {
  .content_frame_right {
    grid-template-columns: repeat(1,1fr) !important;
  }
}
@media (max-width:768px) {
  .content_users{
    position: absolute;
    z-index: 100;
    top: 10%;
    background-color: var(--color_white);
    left: 0rem;
    top: 8rem;
    z-index: 120;
    border-radius: 0 .5rem .5rem 0;
    -webkit-border-radius: 0 .5rem .5rem 0;
    -moz-border-radius: 0 .5rem .5rem 0;
    -ms-border-radius: 0 .5rem .5rem 0;
    -o-border-radius: 0 .5rem .5rem 0;
    height: 100vh;
}
  .boxContent_forMobile{
  display: flex;
  z-index: 120;
  }
}
@media (max-width:950px) {
  body {
    grid-template-areas: "header header" "main main" !important;
  }
  .logo_header,
  .search_header,
  aside {
    display: none !important;
  }
  .btn_menu_mobile {
    display: flex !important;
  }
  .input_searchMobile {
    display: flex !important;
  }
}
@media (max-width:1350px) {
  .container_main {
    display: flex;
  }
  .content_frame_right{
grid-template-columns: repeat(2,minmax(250px,1fr)) !important;
gap: .3rem !important;
}
.container_main{
  gap: 0;
}
.boxHeader_wallet  {
  display: block;
}
.box_PaymentMethod-header{
  margin: 0 auto;
}
.right_boxHeader-wallet{
  width:auto;
  margin: 1rem auto;
}
.box_table-Invoices{
max-width: 50rem;
margin: auto;
}
.boxFooter_wallet{
  display: block;
  max-width: 50rem;
  margin: auto;
}
.boxFooter_wallet  .left_footer-wallet,
.boxFooter_wallet .right_footer-wallet {
  margin: auto;
  width: 100%;
  margin-bottom: 1rem;
}
}
@media (max-width:999px) {
    .header_parent {
      gap: 0 .5rem !important;
    }
    .container_main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .content_frame_right{
      gap: 1rem !important;
      }
  }
  /* min width : ....  */
@media (min-width:1100px) {
  .left_content_main {
    max-width: 650px;
    padding: .5rem;
  }
  .right_content_main {
    max-width: 616px;
    padding: .5rem !important;
  }
}
@media (min-width:1350px) {
  .container_main {
    display: flex;
  }
}
/* width */
::-webkit-scrollbar {
  width: 1px !important;
  height: 3px;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  display: none;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.selectBox_header{
  position: absolute;
  bottom: 10.5rem;
  left: -1rem;
  opacity: 0;
  width: 13rem;
  max-height: 10rem;
  background-color: var(--color_white);
  padding: .5rem;
  border-radius:.5rem;
  -webkit-border-radius:.5rem;
  -moz-border-radius:.5rem;
  -ms-border-radius:.5rem;
  -o-border-radius:.5rem;
  transition: opacity .3s ease-in;
  -webkit-transition: opacity .3s ease-in;
  -moz-transition: opacity .3s ease-in;
  -ms-transition: opacity .3s ease-in;
  -o-transition: opacity .3s ease-in;
  z-index: 20;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.selectbox {
  font-weight: 600;
  text-decoration: dotted;
  margin-bottom: .8em;
}
.active{
   bottom: -10.5rem !important;
   opacity: 1 !important;
   transition:opacity .3s ease-in ;
   -webkit-transition:opacity .3s ease-in ;
   -moz-transition:opacity .3s ease-in ;
   -ms-transition:opacity .3s ease-in ;
   -o-transition:opacity .3s ease-in ;
}
canvas {
  /* z-index: 100; */
   clip-path: none; 
  height: 100vh;
}